<div class="wrapper">
    <form name="emailForm" novalidate>
        <div ng-repeat="item in data"
                dir-form-item="{{ item.type }}"
                dir-form-item-type="{{ item.inputType }}"
                dir-form-item-multi-email="{{ item.multiEmail }}"
                dir-form-item-model="{{ item.model }}"
                dir-form-item-label="{{ item.label }}"
                dir-form-item-placeholder="{{ item.placeholder }}"
                dir-form-item-width="{{ item.width }}">
        </div>
        <div class="form-footer clearfix">
            <img class="main-logo pull-left" src="images/logo.png">
            <input class="pull-right" type="submit" ng-disabled="emailForm.$invalid"
                   ng-click="send()" value="SUBMIT">
            <input class="pull-right" type="submit" ng-click="clear()" value="CLEAR FORM">
        </div>
    </form>
</div>

